<!-- Generated template for the HeaderOneComponent component -->

<!--
  - This component is for header toolber.
  - that contains menu button, page title, notification and language change options 
-->
<ion-navbar no-border align-title="left">

  <!-- Menu  -->
  <ion-buttons left>
    <button color="white" ion-button menuToggle >
    <ion-icon name='custom-menu'></ion-icon>
  </button>
  </ion-buttons>

  <!-- Page Title  -->
  <ion-title center color="white">
    <!-- {{title}} -->
    <img src="assets/imgs/logo/logbook_light.png"> 
  </ion-title>

</ion-navbar>